@import url(./__item/card__item.css);
@import url(./__heading/card__heading.css);
@import url(./__image/card__image.css);
@import url(./__description/card__description.css);
.cards{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 920px;
    margin: 0 auto;
    padding: 0;
    
  }
  
  
 
 
  