@import url(C:\Users\Azaza\Documents\dev\how-to-learn\how-to-learn\blocks\khan\__author\khan__author.css);
@import url(C:\Users\Azaza\Documents\dev\how-to-learn\how-to-learn\blocks\khan\__book-container\khan__book-container.css);
@import url(blocks\khan\__book-pic\khan__book-pic.css);
@import url(blocks\khan\__buy-link\khan__buy-link.css);
@import url(blocks\khan\__container\khan__container.css);
@import url(blocks\khan\__quote\khan__quote.css);
@import url(blocks\khan\__quote-author\khan__quote-author.css);
@import url(blocks\khan\__quote-author-subline\khan__quote-author-subline.css);
@import url(blocks\khan\__title\khan__title.css);


.khan{
    margin: 0 auto 0 auto;
    overflow-y: hidden;
    background-color: #f2f2f2;
    width: 100%;
  }
  
  
  

  
  
  
  
  
  