@import url(./__iframe/video__iframe.css);
@import url(./__iframes/video__iframes.css);
@import url(../section-title/section-title.css);
@import url(../section-subtitle/_video/section-subtitle_video.css);
.video{
    position: relative;
    min-width: 1050px;
    min-height: 576px;
    top: 100px;
    transform: translateY(70px);
  }

  
  
  