@import url(../two-columns/_oakley/two-columns__paragraph_oakley.css);
.oakley{
    padding-top: 160px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    background-color: #f2f2f2;
    
  }
  