

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  /* выше установили ограничения для секции */
}
.logo_place_header{
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
 }
 .header__title{
  width: 730px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 96px;
  font-size: 102px;
  margin: 0px 0px 0px 64px;
  font-weight: bold;
  
}
.header__subtitle{
   width: 388px;
   z-index: 1;
   line-height: 25px;
   font-size: 18px;
   font-weight: normal;
   position: absolute;
   left: 64px;
   bottom: 30px;
  }
 .header__link{
   color:  #2f80ed;
   text-decoration: none;
  }
.header__main-illustration{
   width: 765px;
   height: 608px;
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: 3;
 }

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color:  #2f80ed;
  z-index: 2;
}
.description{
  display: flex;
  margin: 100px 0 0 0;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}
.two-columns{
  width: 80%;
  display: flex;
  font-weight: normal;
  margin: 0;
  justify-content: space-between;
}
.two-columns__brief{
  font-weight: normal;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  margin: 0;
  width: 175px;
}
.two-columns__main-text{
  display: flex;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
  margin: 0;
  min-height: 332px;
}
.two-columns__paragraph{
  margin: 0;
  width: 100%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  
}
.two-columns__paragraph:first-of-type{
  padding-bottom: 30px;
}
.two-columns__paragraph:last-of-type{
  padding-top: 30px;
}
.two-columns__span-accent{
  font-weight: bolder;
  margin: 30px 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: bolder;
  margin: 30px 0;
}


.digits{
  margin-top: 100px;
}


.section-title{
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: 700;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.section-subtitle{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  
}
 
.table{
  list-style-type: none;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px auto 100px auto;
  flex-wrap: wrap;
  padding: 0;
  z-index: 2;
}
.table__cell{
  width: 250px;
  margin: 0;
}
.table__heading{
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  padding-top: 60px;
}
.table__text{
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feinman{
  margin-top: 100px;
  max-width: 1600px;
  min-height: 790px;
  position: relative;
  width: 100vw;
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.feinman__marg-secondary{
  margin-top: 70px;
}
.feinman__title{
  margin: 0;
  padding-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  z-index: 2;
  text-align: center;
}
.feinman__subtitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}
.feinman__illustration{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 867px;
  height: 637px;
}
.feinman__link{ 
 position: absolute;
 top: 50%;
 right: 48px;
 text-decoration: none;
 line-height: 51px;
 font-size: 36px;
 font-weight: normal;
 color:  black;
}
.kaufman{
  position: relative;
  height: 877px;
  width: 100%;
  background-color: #1f1f1f;
  overflow: hidden;
}
.section-title_theme_dark{
  color: white;
  padding-top: 90px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-subtitle_theme_dark{
  color: white;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table_theme_dark{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px auto 0px auto;
  width: 1100px;
  z-index: 2;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  
  z-index: 2;
}
.table__heading_theme_dark{
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  padding-top: 80px;
  z-index: 2;
}
.table__text_theme_dark{
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}
.kaufman__triangle{
  background-size: contain; 
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 0;
 
 
}
.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.logo_place_footer{
  height: 35px;
  width: 183px;
}
.footer__columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
  width: 90%;
}
.footer__column_content_copyright{
  display: flex;
  flex-basis: 711px;
  min-height: 250px;
  flex-direction: column;
  justify-content: space-between;
}
.footer__column_content_info{
  display: flex;
  flex-direction: column;
}
.footer__column_content_social{
  display: flex;
  flex-direction: column;
 
}
.footer__column-heading{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}
.footer__column-links{
  list-style-type: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.footer__column-link{
  text-decoration: none;
  color: white;

}
.footer__author{
  color: white;
  line-height:  25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}
.footer__social-icon{
  padding-right: 10px;
}